aside{
    /* background-color: orange; */
    padding: 30px;
    border-left:1px solid #ddd;
}

@media screen and (max-width:980px){
 aside{
     grid-column:span 3;
 }   
}

@media (max-width:1200px){
    aside{
        padding:10px;
        background-color: crimson;
    }
}
